<div class="container">
  <div class="left-div">
    <h1>Verify your Angular Skills.
      <br> Accelerate your Job Search.
    </h1>
    <p>Take the HackerRank Certification Test and showcase your knowledge as
      <br> a HackerRank verified developer.
    </p>
    <button class="test-box">
      Take the HackerRank skills test
    </button>

  </div>
  <div class="right-div">
    <img
      src="https://support.officespacesoftware.com/servlet/rtaImage?eid=ka0Qi0000002XKr&feoid=00N5x00000EERRy&refid=0EM5x000003YX7e">
  </div>
</div>

<div class="container2">
  <div class="left-div2">
    <h1>Skill over pedigree</h1>
  </div>

  <ul class="no-bullets">
    <li>
      <div class="right-div2">
        <img src="https://cdn.prod.website-files.com/5f2876f679889c3267ee6dee/5f628334cd99fe781a3a4d1d_Focus-2-2.png"
          alt="Image description">
        <div class="text-content">
          <h1>Prove your Skills</h1>
          <br>
          <br>
          <p>The HackerRank Skills Certification Test is a standardized
            <br> assessment to help developers prove their coding skills.
          </p>
        </div>
      </div>
    </li>

    <li>
      <div class="right-div3">
        <img src="https://5.imimg.com/data5/KJ/IF/GLADMIN-28593141/website-designing-services-250x250.png"
          alt="Image description">
        <div class="phase-content">
          <h1>Get noticed by companies</h1>
          <br>
          <br>
          <p>Candidates who successfully clear the test will be specially
            <br> highlighted to companies when they apply to relevant roles.
          </p>
        </div>
      </div>
    </li>
  </ul>



</div>

<app-worksection></app-worksection>